  <h2><%- page.title %></h2>

  <%- page.content%>
  <p><%- list_tags(page.tags, {class: 'classtest', show_count: false, style: false}) %> — <%- full_date(page.date, 'YY-MM-DD') %></p>
  <%- partial('partial/comments') %>
