<div class="row">
  <div class="six columns">
    <h1 class="mt-2 vertical-center">
      <img class="home-avatar" src="/images/home-avatar.png"/>
      <%= theme.title %>
    </h1>
  </div>

  <div class="twelve columns">
    <div class="row">
      <div class="nine columns left">
        <a href="<%= config.root %>">首页</a>
        <% for (name in theme.menu) { %>
          <% if (theme.menu[name]) { %>
          <a href="<%- url_for(theme.menu[name]) %>" class="ml"><%- name %></a>
          <% } %>
        <% } %>
        <% if (theme.email) { %>
          <% if (typeof obfuscate === "function") { %>
            <a href="mailto:<%- obfuscate(theme.email) %>" target="_blank" class="ml">Email</a>
          <% } else { %>
            <a href="mailto:<%= theme.email %>" target="_blank" class="ml">Email</a>
          <% } %>
        <% } %>
      </div>
    </div>
    <hr style="margin-bottom: 2.6rem">
  </div>
</div>
